<!DOCTYPE html>
<html>
<head>
  <meta name="keywords" content="voyage, of, odysseus, seno, voyage of seno, voyage of odysseus, troy, ithaca, odysseus, odyssey, athena, zeus, cyclops, lotus, mcsd3a, johannah, jm, catherine" />
    <meta name="description" content="Voyage of Seno" />
    <meta name="author" content="JM Janda | Johannah Lat | Catherine Porciuncula" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Voyage of Seno | </title>
    <link href="/Content/css?v=ji3nO1pdg6VLv3CVUWntxgZNf1zRciWDbm4YfW-y0RI1" rel="stylesheet" />

    <script src="/bundles/modernizr?v=jmdBhqkI3eMaPZJduAyIYBj7MpXrGd2ZqmHAOSNeYcg1"></script>
 
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
