
<html>
<head>
    <meta name="keywords" content="voyage, of, odysseus, seno, voyage of seno, voyage of odysseus, troy, ithaca, odysseus, odyssey, athena, zeus, cyclops, lotus, mcsd3a, johannah, jm, catherine" />
    <meta name="description" content="Voyage of Seno" />
    <meta name="author" content="JM Janda | Johannah Lat | Catherine Porciuncula" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Voyage of Seno | </title>
    <link href="/Content/css?v=ji3nO1pdg6VLv3CVUWntxgZNf1zRciWDbm4YfW-y0RI1" rel="stylesheet" />

    <script src="/bundles/modernizr?v=jmdBhqkI3eMaPZJduAyIYBj7MpXrGd2ZqmHAOSNeYcg1"></script>

</head>
<body style="background-image:url('/pictures/title.png'); background-attachment: fixed; background-color:black; background-size:500px; background-repeat:no-repeat; background-position-x:center; ">
    <style>
        div#nav {
            font-size: medium;
            margin-top: 20px;
            margin-left: 280px;
            word-spacing: 50px;
        }

        div#body {
            height: 400px;
        }

        div#img {
            width: 20%;
            padding-top: 50px;
            padding-left: 30px;
            float: left;
            display: inline-block;
        }

        img {
            width: 250px;
            height: 250px;
        }

        div#footer {
            width: 100%;
            height: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 0px 0px 20px;
            margin: 0;
            color: white;
            position: fixed;
            bottom: 0px;
        }

        a, a:link {
            font-size: 11px;
            font-family: Century Gothic;
            color: white;
            text-decoration: none;
        }
    </style>


    <br /><br /><br />
    <div id="nav">
        <a href="/">HOME</a>
        <span style="word-spacing:initial"><a href="/Home/Gallery">GALLERY</a></span>
        <a href="/Home/Story">STORY</a>
        <a href="/Home/Objective">OBJECTIVES</a>


    </div>


    <div style="width:80%; opacity: 70; height:1200px; background-color:white; background-position-y:bottom; padding-top:50px; margin-left:200px; margin-left:200px;">
        <div style="margin-left:10%; margin-right:10%; float:left; font-size:12pt;">

            <center><img src="~/pictures/title1.jpg" alt="SplashScreen" /> </center>
            <br /><br />
            <center><img src="~/pictures/cyclops.jpg" alt="Cyclops" /></center>
            <br /> <br />
            <center><img src="~/pictures/New Canvas.jpg" alt="Troy" /></center>


        </div>
    </div>
    <div id="footer" style="background-color:deeppink">
        2015 © JANDA | LAT | PORCIUNCULA | OF MCSD3A
    </div>
</body>
</html>