
    <style>
        body {
            font-size: 11px;
            font-family: Century Gothic;
            color: white;
            background-color: #1c1c1c;
            margin: 0 auto;
        }

        div#header {
            height: 106px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 0px 40px 30px;
        }

        h1 {
            color: white;
            font-size: 80px;
            font-weight: 100;
            letter-spacing: 20px;
            margin-left: 20px;
            position: absolute;
            top: -30px;
        }

        div#nav {
            font-size: medium;
            margin-top: 20px;
            margin-left: 280px;
            word-spacing: 50px;
        }

        div#body {
            height: 400px;
        }

        div#img {
            width: 20%;
            padding-top: 50px;
            padding-left: 30px;
            float: left;
            display: inline-block;
        }

        img {
            width: 250px;
            height: 250px;
        }

        div#content {
            width: 70%;
            text-align: justify;
            margin-top: 10px;
            float: left;
            display: inline-block;
        }

        div#footer {
            width: 100%;
            height: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 0px 0px 20px;
            margin: 0;
            color: white;
            position: fixed;
            bottom: 0px;
        }

        a, a:link {
            font-size: 11px;
            font-family: Century Gothic;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <svg height="220px" width="280px" stroke="white" style="position:absolute;z-index:-1">
    </svg>
    <div id="header" style="background-color:pink">
        <h1></h1>

    </div>

    <br /><br /><br />
    <div id="nav">
        <a href="/">HOME</a>
        <span style="word-spacing:initial"><a href="/Home/Objective">OBJECTIVES</a></span>
        <a href="/Home/Story">STORY</a>
        <a href="/Home/Gallery">GALLERY</a>



    </div>

    <div id="body">
        <div id="img">
            <img src="~/pictures/cyclops.jpg" alt="Cyclops" />
        </div>

        <div id="content">

            <h2>Objectives</h2>

            <br />
            <br />
            <p>Aid Odysseus on his way back home to Ithaca</p>
            <p>Solve memory enhancer games to defeat the enemies</p>
            <p>Collect points to gain rewards</p>
        </div>


    </div>

    <div id="footer" style="background-color:deeppink">
        2015 © JANDA | LAT | PORCIUNCULA | OF MCSD3A
    </div>

</body>
</html>
