    <style>
        body {
            font-size: 11px;
            font-family: Century Gothic;
            color: white;
            background-color: #1c1c1c;
            margin: 0 auto;
        }

        div#header {
            height: 106px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 0px 40px 30px;
        }

        h1 {
            color: white;
            font-size: 80px;
            font-weight: 100;
            letter-spacing: 20px;
            margin-left: 20px;
            position: absolute;
            top: -30px;
        }

        div#nav {
            font-size: medium;
            margin-top: 20px;
            margin-left: 280px;
            word-spacing: 50px;
        }

        div#body {
            height: 400px;
        }

        div#img {
            width: 20%;
            padding-top: 50px;
            padding-left: 30px;
            float: left;
            display: inline-block;
        }

        img {
            width: 250px;
            height: 250px;
        }

        div#content {
            width: 70%;
            text-align: justify;
            margin-top: 10px;
            float: left;
            display: inline-block;
        }

        div#footer {
            width: 100%;
            height: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 0px 0px 20px;
            margin: 0;
            color: white;
            position: fixed;
            bottom: 0px;
        }

        a, a:link {
            font-size: 11px;
            font-family: Century Gothic;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <svg height="220px" width="280px" stroke="white" style="position:absolute;z-index:-1">
    </svg>
    <div id="header" style="background-color:pink">
        <h1></h1>

    </div>

    <br /><br /><br />
    <div id="nav">
        <a href="/">HOME</a>
        <span style="word-spacing:initial"><a href="/Home/Story">STORY</a></span>
        <a href="/Home/Objective">OBJECTIVES</a>
        <a href="/Home/Gallery">GALLERY</a>



    </div>

    <div id="body">
        <div id="img">
            <img src="~/pictures/title.png" alt="Voyage of Odysseus" />
        </div>

        <div id="content">

            <h2>Plot</h2>

            <br />
            <br />
            <p>Ten years have passed since the fall of Troy, and the Greek hero Odysseus still has not returned to his kingdom in Ithaca. A large and rowdy mob of suitors who have overrun Odysseus’s palace and pillaged his land continue to court his wife, Penelope. She has remained faithful to Odysseus. Prince Telemachus, Odysseus’s son, wants desperately to throw them out but does not have the confidence or experience to fight them. One of the suitors, Antinous, plans to assassinate the young prince, eliminating the only opposition to their dominion over the palace.</p>
            Unknown to the suitors, Odysseus is still alive.
            The beautiful nymph Calypso, possessed by love for him, has imprisoned him on her island, Ogygia.
            He longs to return to his wife and son, but he has no ship or crew to help him escape.
            While the gods and goddesses of Mount Olympus debate Odysseus’s future, Athena, Odysseus’s strongest supporter among the gods, resolves to help Telemachus.
            Disguised as a friend of the prince’s grandfather, Laertes, she convinces the prince to call a meeting of the assembly at which he reproaches the suitors.
            Athena also prepares him for a great journey to Pylos and Sparta, where the kings Nestor and Menelaus, Odysseus’s companions during the war, inform him that Odysseus is alive and trapped on Calypso’s island.
            <p>Telemachus makes plans to return home, while, back in Ithaca, Antinous and the other suitors prepare an ambush to kill him when he reaches port.</p>

            <p>
                On Mount Olympus, Zeus sends Hermes to rescue Odysseus from Calypso.
                Hermes persuades Calypso to let Odysseus build a ship and leave.
                The homesick hero sets sail, but when Poseidon, god of the sea, finds him sailing home, he sends a storm to wreck Odysseus’s ship.
                Poseidon has harbored a bitter grudge against Odysseus since the hero blinded his son, the Cyclops Polyphemus, earlier in his travels.
                Athena intervenes to save Odysseus from Poseidon’s wrath, and the beleaguered king lands at Scheria, home of the Phaeacians. Nausicaa, the Phaeacian princess, shows him to the royal palace, and Odysseus receives a warm welcome from the king and queen.
                When he identifies himself as Odysseus, his hosts, who have heard of his exploits at Troy, are stunned.
                They promise to give him safe passage to Ithaca, but first they beg to hear the story of his adventures.
            </p>

            <p>
                Odysseus spends the night describing the fantastic chain of events leading up to his arrival on Calypso’s island.
                He recounts his trip to the Land of the Lotus Eaters, his battle with Polyphemus the Cyclops, his love affair with the witch-goddess Circe, his temptation by the deadly Sirens, his journey into Hades to consult the prophet Tiresias, and his fight with the sea monster Scylla.
                When he finishes his story, the Phaeacians return Odysseus to Ithaca, where he seeks out the hut of his faithful swineherd, Eumaeus.
                Though Athena has disguised Odysseus as a beggar, Eumaeus warmly receives and nourishes him in the hut.
                He soon encounters Telemachus, who has returned from Pylos and Sparta despite the suitors’ ambush, and reveals to him his true identity.
                Odysseus and Telemachus devise a plan to massacre the suitors and regain control of Ithaca.
            </p>

            <p>
                When Odysseus arrives at the palace the next day, still disguised as a beggar, he endures abuse and insults from the suitors.
                The only person who recognizes him is his old nurse, Eurycleia, but she swears not to disclose his secret.
                Penelope takes an interest in this strange beggar, suspecting that he might be her long-lost husband.
                Quite crafty herself, Penelope organizes an archery contest the following day and promises to marry any man who can string Odysseus’s great bow and fire an arrow through a row of twelve axes—a feat that only Odysseus has ever been able to accomplish.
                At the contest, each suitor tries to string the bow and fails. Odysseus steps up to the bow and, with little effort, fires an arrow through all twelve axes. He then turns the bow on the suitors.
                He and Telemachus, assisted by a few faithful servants, kill every last suitor.
            </p>

            <p>
                Odysseus reveals himself to the entire palace and reunites with his loving Penelope.
                He travels to the outskirts of Ithaca to see his aging father, Laertes.
                They come under attack from the vengeful family members of the dead suitors, but Laertes, reinvigorated by his son’s return, successfully kills Antinous’s father and puts a stop to the attack.
                Zeus dispatches Athena to restore peace. With his power secure and his family reunited, Odysseus’s long ordeal comes to an end.
            </p>
        </div>


    </div>

    <div id="footer" style="background-color:deeppink">
        2015 © JANDA | LAT | PORCIUNCULA | OF MCSD3A
    </div>

</body>
</html>
